@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Odor+Mean+Chey&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.login-page {
    height: 100vh;
    background-image: url(/static/img/quotes_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.login-icon img {
    width: 300px;
    height: 200px;
}


.login-form {
    height: 500px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    padding-bottom: 20px;
    gap: 10px;
}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

input {
    width: 250px;
    height: 35px;
    background: #e2f2fc;
    border: 1px solid #0d2f44;
    border-radius: 10px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 3px;
}



.login-btn {
    background: #0d2f44;
    height: 35px;
    width: 100px;
    border: 1px;
    border-radius: 10px;
    color: white;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* margin-bottom: 20px; */
}

.logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d2f44;
    height: 35px;
    width: 100px;
    border: 1px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logout-btn:hover, .login-btn:hover {
    background:#0e6896 ;
    color: #e2f2fc;
    transform: scale(1.1);
}

.quotes-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e2f2fc;
    height: 45px;
    width: 300px;
    border: 1px;
    border-radius: 10px;
    text-decoration: none;
}

.quotes-btn:hover {
    background: #0e6896;

}



/* div {
    border: 1px solid black;
} */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #7698B6;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0e6896;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color:#e2f2fc
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: -6px;
    right: 12px;
    font-size: 45px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }


  .nav-logo img {
    width: 240px;
    height: 170px;
  }

  .nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quotes-type {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}


.header {
    height: 6vh;
    background: #0d2f44;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;

}

.sidebar-buttons {
    height: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


.open-nav-btn button {
    height: 2rem;
    width: 2rem;
    
}

.welcome {
    color: #0e6896;
    font-size: 1.25rem;
}

.welcome span {
    color: #e2f2fc;
    font-size: 1.25rem;
 }

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 94vh;
    background-image: url(/static/img/quotes_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.search, .searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.textfield {
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 10px;
    height: 50px;
    width: 500px;
    
}

.searchbar {
    background-color: #EDF8F8;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.search {
    background-color: #7698B6;
    padding-right: 10px;
    padding-left: 20px;
    border-radius: 50px;
    height: 70px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 3.5rem;
    color:#0d2f44;
}

.quotes {
    height: 500px;
    width: 770px;
    background-color: #7698B6;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    
    
}

.here {
    font-size: 1.25rem;
    color: #0d2f44;
    display: flex;
    flex-direction: column;
    margin-right: 25rem;
}



.quotes-content {
    height: auto;
    width: 675px;
    border-radius: 35px;
    background: #e2f2fc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.content1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.part1-content1, .part2-content1 {
    display: flex;
    gap: 10px;
}

.time p {
    font-size: .75rem;
    display: inline-block;
    
}
.part1-content1 {
    padding-left: 50px;
}

.part2-content1 {
    padding-right: 50px;
}


.author {
    display: flex;
    align-items: center;
    width: auto;
}

.author-img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    overflow: hidden;
    border: #0d2f44 3px solid;
}

.author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author p{
    font-size: 1.5rem ;
    color: #0e6896;
}

p {
    font-size: 1.25;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hashtags p {
    color: #0e6896;
}
.content2 {
    height: auto;
    display: flex;
    width: 575px;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.daily-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 575px;
}

.divider {
    border: #0d2f44 1px solid;
    width: 100%;
}

.content3 {
    display: flex;
    justify-content: space-between;
    width: 575px;
}

.part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 200px;

}

.like, .comment, .repost, .save {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.fa-regular, .fa-solid {
    color: #000000;
    font-size: 20px;
}

.bx-zoom-out{
    color: #000000;
    font-size: 25px;
}

.i-heart, .i-comment,  .i-bookmark {
    color: #0d2f44;
    font-size: 20px;
}

.i-heart, .i-bookmark, .i-star{
    cursor: pointer;
    
}

.i-heart:hover, .i-bookmark:hover, .i-star:hover{
    transform: scale(1.2);
}



.i-repost{
    color: #0d2f44;
    font-size: 25px;
}

.fa-ellipsis {
    color: #0d2f44;
    font-size: 30px;
}

.filled-heart {
    color: red;
}

.filled-star .filled-bookmark{
    color: #0d2f44;
}

