<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Quote of the Day</title>
    
  </head>
  <body>
    <div class="cloud-container">
        <div class="cloud"></div>
      </div>
    <div class="header">
        <div class="open-nav-btn">
            <button onclick="toggleNav()">&#9776;</button>
        </div>
        <div class="welcome">
            <p>WELCOME <span>{{.User}}</span></p>
        </div>
    </div>  
    <div class="dashboard">
        <div id="mySidenav" class="sidenav">
            <div class="close-btn">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            <div class="nav-logo">
                <img src="/static/img/login_logo.png">
            </div>
            <div class="sidebar-buttons">
        
                <div class="quotes-type" id="quotes-type">
                    <a class="quotes-btn" id="random-quotes-btn" onclick="showRandomQuotes(); hideAndReveal();">Random Quotes</a>
                    <a class="quotes-btn" id="inspirational-quotes-btn" onclick="showInspirationalQuotes(); hideAndReveal();">Inspirational Quotes</a>
                    <a class="quotes-btn" id="motivational-quotes-btn" onclick="showMotivationalQuotes(); hideAndReveal();">Motivational Quotes</a>
                    <a class="quotes-btn" id="love-quotes-btn" onclick="showLoveQuotes(); hideAndReveal();">Love Quotes</a>
                    <a class="quotes-btn" id="perseverance-quotes-btn" onclick="showPerseveranceQuotes(); hideAndReveal();">Perseverance Quotes</a>
                    <a class="quotes-btn" id="encouragement-quotes-btn" onclick="showEncouragementQuotes(); hideAndReveal();">Encouragement Quotes</a>
                </div>
                <div class="logout">
                    <form method="GET" action="/logout/">
                        <button class="logout-btn" type="submit">LOGOUT</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="main-page" id="main">
            
            <div class="search">
                <i class="fa-solid fa-arrow-left" ></i>
                <i class="fa-solid fa-arrow-right" ></i>
                <i class="fa-solid fa-rotate-right" ></i>
                <div class="searchbar">
                    <i class="fa-solid fa-lock" ></i>
                    <div class="textfield">
                        <p class="search-text ">www.quotesoftheday.com/random_quotes</p>
                    </div>
                    <i class='bx bx-zoom-out'></i>
                    <i class="fa-regular fa-share-from-square" ></i>
                    <i class="fa-solid fa-star i-star" id="star" ></i>
                </div>
            </div>
            <div class="text">
                <p>daily motivation.</p>
            </div>
            <div class="quotes-cover" id="quotes-cover">
                  <div class="container">
                    <div class="preloader">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="shadow"></div>
                  </div>      
            </div>
            <div class="quotes">
                <div class="here">
                    <p >Here is your <span class="type">Random Quote</span>  of the Day!!</p>
                </div>
                <div class="quotes-content">
                    <div class="content1">
                        <div class="part1-content1">
                            <div class="author-img">
                                <img class="author-profile zoomable-image" src={{.RandomQuote.Picture}} alt="" > 
                             </div>
                             <div id="modal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="modal-image">
                            </div>
                             <div class="author">
                                 <p class="quote-author">{{ .RandomQuote.Author }}</p>
                             </div>
                        </div>
                        <div class="part2-content1">
                            <div class="time">
                                <p>{{.Date}} {{.Time}}</p>
                            </div>
                            <div class="ellipsis">
                                <i class="fa-solid fa-ellipsis"></i>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="content2">
                        <div class="daily-quote">
                            <p class="my-quote">{{ .RandomQuote.Quote }}</p>
                        </div>
                        <div class="hashtags">
                            <p class="my-hashtags">#quoteoftheday #randomquotes</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="content3">
                        <div class="part1">
                            <div class="like">
                                <i class="fa-solid fa-heart i-heart" id="heart"></i>
                                <p class="quote-like">{{.RandomQuote.Like}}</p>
                            </div>
                            <div class="comment">
                                <i class="fa-regular fa-comment i-comment"></i>
                                <p class="quote-comment">{{.RandomQuote.Comment}}</p>
                            </div>
                            <div class="repost">
                                <i class='bx bx-repost i-repost' ></i>
                                <p class="quote-repost">{{.RandomQuote.Repost}}</p>
                            </div>
                        </div>
                        <div class="part2">
                            <div class="save">
                                <i class="fa-solid fa-bookmark i-bookmark" id="bookmark" ></i>
                            </div>
                        </div>      
                    </div>
                </div>
                
            </div>
        </div>
        

        
    </div>
    
  <script src="https://kit.fontawesome.com/d595b5fd34.js" crossorigin="anonymous"></script>
  <script src="/static/dashboard.js"></script>
  <script>
    function showRandomQuotes() {
        document.querySelector(".search-text").textContent = "www.quotesoftheday.com/random_quotes";
        document.querySelector(".type").textContent = "Random Quote";
        document.querySelector(".author-profile").setAttribute('src','{{ .RandomQuote.Picture}}');
        document.querySelector(".quote-author").textContent = "{{ .RandomQuote.Author }}";
        document.querySelector(".my-quote").textContent = "{{ .RandomQuote.Quote }}";
        document.querySelector(".my-hashtags").textContent = "#quoteoftheday #randomquotes";
        document.querySelector(".quote-like").textContent = "{{ .RandomQuote.Like }}";
        document.querySelector(".quote-comment").textContent = "{{ .RandomQuote.Comment }}";
        document.querySelector(".quote-repost").textContent = "{{ .RandomQuote.Repost }}";

    }

    function showInspirationalQuotes() {
        document.querySelector(".search-text").textContent = "www.quotesoftheday.com/inspirational_quotes";
        document.querySelector(".type").textContent = "Inspirational Quote";
        document.querySelector(".author-profile").setAttribute('src','{{ .InspirationalQuote.Picture}}');
        document.querySelector(".quote-author").textContent = "{{ .InspirationalQuote.Author }}";
        document.querySelector(".my-quote").textContent = "{{ .InspirationalQuote.Quote }}";
        document.querySelector(".my-hashtags").textContent = "#quoteoftheday #inspirationalquotes";
        document.querySelector(".quote-like").textContent = "{{ .InspirationalQuote.Like }}";
        document.querySelector(".quote-comment").textContent = "{{ .InspirationalQuote.Comment }}";
        document.querySelector(".quote-repost").textContent = "{{ .InspirationalQuote.Repost }}"; 

    }
    function showMotivationalQuotes() {
        document.querySelector(".search-text").textContent = "www.quotesoftheday.com/motivational_quotes";
        document.querySelector(".type").textContent = "Motivational Quote";
        document.querySelector(".author-profile").setAttribute('src','{{ .MotivationalQuote.Picture}}');
        document.querySelector(".quote-author").textContent = "{{ .MotivationalQuote.Author }}";
        document.querySelector(".my-quote").textContent = "{{ .MotivationalQuote.Quote }}";
        document.querySelector(".my-hashtags").textContent = "#quoteoftheday #motivationalquotes";
        document.querySelector(".quote-like").textContent = "{{ .MotivationalQuote.Like }}";
        document.querySelector(".quote-comment").textContent = "{{ .MotivationalQuote.Comment }}";
        document.querySelector(".quote-repost").textContent = "{{ .MotivationalQuote.Repost }}"; 
 
    }
    function showLoveQuotes() {
        document.querySelector(".search-text").textContent = "www.quotesoftheday.com/love_quotes";
        document.querySelector(".type").textContent = "Love Quote";
        document.querySelector(".author-profile").setAttribute('src','{{ .LoveQuote.Picture}}');
        document.querySelector(".quote-author").textContent = "{{ .LoveQuote.Author }}";
        document.querySelector(".my-quote").textContent = "{{ .LoveQuote.Quote }}";
        document.querySelector(".my-hashtags").textContent = "#quoteoftheday #lovequotes";
        document.querySelector(".quote-like").textContent = "{{ .LoveQuote.Like }}";
        document.querySelector(".quote-comment").textContent = "{{ .LoveQuote.Comment }}";
        document.querySelector(".quote-repost").textContent = "{{ .LoveQuote.Repost }}";  

    }
    function showPerseveranceQuotes() {
        document.querySelector(".search-text").textContent = "www.quotesoftheday.com/perseverance_quotes";
        document.querySelector(".type").textContent = "Perseverance Quote";
        document.querySelector(".author-profile").setAttribute('src','{{ .PerceveranceQuote.Picture}}');
        document.querySelector(".quote-author").textContent = "{{ .PerceveranceQuote.Author }}";
        document.querySelector(".my-quote").textContent = "{{ .PerceveranceQuote.Quote }}";
        document.querySelector(".my-hashtags").textContent = "#quoteoftheday #perseverancequotes";
        document.querySelector(".quote-like").textContent = "{{ .PerceveranceQuote.Like }}";
        document.querySelector(".quote-comment").textContent = "{{ .PerceveranceQuote.Comment }}";
        document.querySelector(".quote-repost").textContent = "{{ .PerceveranceQuote.Repost }}";  

    }
    function showEncouragementQuotes() {
        document.querySelector(".search-text").textContent = "www.quotesoftheday.com/encouragement_quotes";
        document.querySelector(".type").textContent = "Encouragement Quote";
        document.querySelector(".author-profile").setAttribute('src','{{ .EncouragementQuote.Picture}}');
        document.querySelector(".quote-author").textContent = "{{ .EncouragementQuote.Author }}";
        document.querySelector(".my-quote").textContent = "{{ .EncouragementQuote.Quote }}";
        document.querySelector(".my-hashtags").textContent = "#quoteoftheday #encuaragementquotes";
        document.querySelector(".quote-like").textContent = "{{ .EncouragementQuote.Like }}";
        document.querySelector(".quote-comment").textContent = "{{ .EncouragementQuote.Comment }}";
        document.querySelector(".quote-repost").textContent = "{{ .EncouragementQuote.Repost }}";  
    }
  </script>
  </body>
  
    
</html>