<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Quote of the Day</title>
    
  </head>
  <body>
    <div class="dashboard">
        <div class="search">
            <i class="fa-solid fa-arrow-left" ></i>
            <i class="fa-solid fa-arrow-right" ></i>
            <i class="fa-solid fa-rotate-right" ></i>
            <div class="searchbar">
                <i class="fa-solid fa-lock" ></i>
                <div class="textfield">
                    <p>www.quotesoftheday.com</p>
                </div>
                <i class='bx bx-zoom-out'></i>
                <i class="fa-regular fa-share-from-square" ></i>
                <i class="fa-regular fa-star" ></i>
            </div>
        </div>
        <div class="text">
            <p>daily motivation.</p>
        </div>
        <div class="quotes">
            <div class="welcome">
                <p>Welcome <span>{{.User}}</span></p>
                <p>Here is your Quote of the Day!!</p>
            </div>
            <div class="quotes-content">
                <div class="content1">
                    <div class="author-img">
                       <img  src={{.Quote.Picture}} alt="" > 
                    </div>
                    
                    <div class="author">
                        <p>{{ .Quote.Name }}</p>
                    </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
                <div class="content2">
                    <div class="daily-quote">
                        <p>{{ .Quote.Quote }}</p>
                    </div>
                    <div class="hashtags">
                        <p>#motivation #quoteoftheday</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="content3">
                    <div class="part1">
                        <div class="like">
                            <i class="fa-regular fa-heart i-heart"></i>
                            <p>{{.Quote.Like}}</p>
                        </div>
                        <div class="comment">
                            <i class="fa-regular fa-comment i-comment"></i>
                            <p>{{.Quote.Comment}}</p>
                        </div>
                        <div class="repost">
                            <i class='bx bx-repost i-repost' ></i>
                            <p>{{.Quote.Repost}}</p>
                        </div>
                    </div>
                    <div class="part2">
                        <div class="save">
                            <i class="fa-regular fa-bookmark i-bookmark" ></i>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
        <div class="logout">
            <form method="GET" action="/logout/">
                <button class="logout-btn" type="submit">LOGOUT</button>
            </form>
        </div>
        
    </div>
    
  </body>
  <script src="https://kit.fontawesome.com/d595b5fd34.js" crossorigin="anonymous"></script>
</html>